__pycache__
*.pyc

# Entorno local
.venv/
venv/
.env
.vscode/

# Base de datos local
inventario.db
inventario.db-journal
inventario.db-wal
inventario.db-shm

# Documento de apoyo
apoyo.md
consigna_proyecto.md
Revision_cumplimiento.md
spike.py
